<nav>
  <div class="nav-wrapper">
    <a href="/" class="site-title">
      <svg width="50" height="50" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg" overflow="visible">
        <path
          d="M96 144C96 117.5 74.5 96 48 96C21.5 96 0 117.5 0 144V368C0 447.5 64.5 512 144 512C223.5 512 288 447.5 288 368C288 288.5 223.5 224 144 224H128V320H144C170.5 320 192 341.5 192 368C192 394.5 170.5 416 144 416C117.5 416 96 394.5 96 368V144Z"
          fill="#FFA333" class="b-letter" />
        <path
          d="M224 64C206.3 64 192 49.7 192 32C192 14.3 206.3 0 224 0C383.1 0 512 128.9 512 288C512 305.7 497.7 320 480 320C462.3 320 448 305.7 448 288C448 164.3 347.7 64 224 64Z"
          fill="#FFA333" fill-opacity="0.5" class="big-signal" />
        <path
          d="M224 160C206.3 160 192 145.7 192 128C192 110.3 206.3 96 224 96C330 96 416 182 416 288C416 305.7 401.7 320 384 320C366.3 320 352 305.7 352 288C352 217.3 294.7 160 224 160Z"
          fill="#FFA333" fill-opacity="0.5" class="small-signal" />
      </svg>
      <h1>Blog Samurai</h1>
    </a>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </div>
</nav>